*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  color: #fff;
  box-sizing: border-box;
  background-color: #222228;
}

@media (min-width: 768px) {
  .hero {
    padding: 0px 3rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    padding: 0px 7rem;
  }
}
@media (min-width: 1600px) {
  .hero {
    padding: 0px 10rem;
  }
}
@media (min-width: 1920px) {
  .hero {
    padding: 0px 12rem;
  }
}

.hero {
  position: relative;
  overflow: hidden;
}

.header {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0px 8rem;
}

.logo {
  font-weight: 800;
  font-size: 2.2rem;
  text-decoration: none;
  color: #fff;
  display: block;
}

.ph-codesandbox-logo {
  padding-left: 1rem;
}

.img-hand__heading {
  position: absolute;
  text-transform: uppercase;
  font-weight: 900;
  z-index: -1;
  top: -5rem;
  right: -44rem;
  font-size: 60rem;
  text-stroke: 5px #262631;
  -webkit-text-stroke: 5px #262631;
  -webkit-text-fill-color: transparent;
}

.img__hand {
  position: absolute;
  top: 0;
  right: 18rem;
  height: 73%;
  z-index: 1;
}

.nav__container {
  margin-top: 3rem;
  width: 100%;
  padding: 0 8rem;
}

.hero_nav {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  color: rgb(56, 79, 71);
}

.hero_nav--list {
  display: flex;
  list-style: none;
}

.hero_nav_list--link {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 0 3rem;
}

.text__header {
  margin-top: 16rem;
}

.text__header--h1 {
  font-size: 7rem;
}

.bg-text {
  background-color: rgb(37, 67, 235);
  display: inline-block;
  transform: rotate(3deg);
}
.text__header--p {
  font-size: 2rem;
  padding-top: 4rem;
}

.container__boxy {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.boxy__text {
  width: 26rem;
  padding: 3rem;
}
.boxy__red {
  border: 3px solid rgb(248, 19, 96);
  border-radius: 2rem;
  margin-top: 3rem;
}

.boxy__blue {
  border: 3px solid rgb(37, 67, 235);
  border-radius: 2rem;
  margin-right: 5rem;
  margin-top: 3rem;
}
.btn-blue {
  background-color: rgb(37, 67, 235);
  justify-items: center;
}

.btn-red {
  background-color: rgb(248, 19, 96);
  justify-items: center;
}

.heading-2 {
  font-size: 2rem;
  padding-bottom: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.03rem;
}

.paragraph-normal {
  font-size: 1.3rem;
  padding-bottom: 2rem;
  color: rgb(182, 182, 182);
  line-height: 1.8rem;
  letter-spacing: 0.02rem;
}
.btn {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.7rem 1.4rem;
  text-align: center;
}
.btn > span {
  display: inline-block;
  font-size: 2rem;
  transform: scaleX(2);
}

.belt__container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: right;
  align-items: center;
  background-color: #262631;
  top: 11rem;
  left: -40rem;
  gap: 40rem;
  z-index: -1;
  height: 24rem;
}

.belt__container--sec-half {
  padding: 3rem;
  padding-right: 8rem;
  grid-column: 2 / 3;
}
